.Rproj.user
.Rhistory
.RData
.Ruserdata
*.json
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/9D5BEA5C-esiti/1/s/chunks.json
.Rproj.user/583DB991/sources/session-cf205d3a/lock_file
.Rproj.user/583DB991/sources/session-cf205d3a/FE1F32ED-contents
.Rproj.user/583DB991/sources/session-cf205d3a/FE1F32ED
.Rproj.user/583DB991/sources/session-cf205d3a/FD8A6CD6-contents
.Rproj.user/583DB991/sources/session-cf205d3a/FBFC5288-contents
.Rproj.user/583DB991/sources/session-cf205d3a/F11E7349-contents
.Rproj.user/583DB991/sources/session-cf205d3a/ED30CDD4-contents
.Rproj.user/583DB991/sources/session-cf205d3a/EC33C934-contents
.Rproj.user/583DB991/sources/session-cf205d3a/E639B8F5-contents
.Rproj.user/583DB991/sources/session-cf205d3a/E5635A5F-contents
.Rproj.user/583DB991/sources/session-cf205d3a/E526DBD7-contents
.Rproj.user/583DB991/sources/session-cf205d3a/E4CCBB92-contents
.Rproj.user/583DB991/sources/session-cf205d3a/DD8848E1-contents
.Rproj.user/583DB991/sources/session-cf205d3a/D61BC326-contents
.Rproj.user/583DB991/sources/session-cf205d3a/CFDDFA75-contents
.Rproj.user/583DB991/sources/session-cf205d3a/CFDDFA75
.Rproj.user/583DB991/sources/session-cf205d3a/C71ECB19-contents
.Rproj.user/583DB991/sources/session-cf205d3a/C46BE93F-contents
.Rproj.user/583DB991/sources/session-cf205d3a/BD713BA3-contents
.Rproj.user/583DB991/sources/session-cf205d3a/BC18B5F3-contents
.Rproj.user/583DB991/sources/session-cf205d3a/B9979B4B-contents
.Rproj.user/583DB991/sources/session-cf205d3a/B7261450-contents
.Rproj.user/583DB991/sources/session-cf205d3a/B4CB1DD8-contents
.Rproj.user/583DB991/sources/session-cf205d3a/B4CB1DD8
.Rproj.user/583DB991/sources/session-cf205d3a/AE9C84DC-contents
.Rproj.user/583DB991/sources/session-cf205d3a/AE9C84DC
.Rproj.user/583DB991/sources/session-cf205d3a/A887436B-contents
.Rproj.user/583DB991/sources/session-cf205d3a/A887436B
.Rproj.user/583DB991/sources/session-cf205d3a/A7C14C43-contents
.Rproj.user/583DB991/sources/session-cf205d3a/9DD8B9FE-contents
.Rproj.user/583DB991/sources/session-cf205d3a/9BE32767-contents
.Rproj.user/583DB991/sources/session-cf205d3a/9BE32767
.Rproj.user/583DB991/sources/session-cf205d3a/90BF4B46-contents
.Rproj.user/583DB991/sources/session-cf205d3a/90BF4B46
.Rproj.user/583DB991/sources/session-cf205d3a/8F7866C4-contents
.Rproj.user/583DB991/sources/session-cf205d3a/8EBA56D7-contents
.Rproj.user/583DB991/sources/session-cf205d3a/8C52BFBA-contents
.Rproj.user/583DB991/sources/session-cf205d3a/8750B65A-contents
.Rproj.user/583DB991/sources/session-cf205d3a/8750B65A
.Rproj.user/583DB991/sources/session-cf205d3a/8659A500-contents
.Rproj.user/583DB991/sources/session-cf205d3a/814736EC-contents
.Rproj.user/583DB991/sources/session-cf205d3a/814736EC
.Rproj.user/583DB991/sources/session-cf205d3a/79CE8C69-contents
.Rproj.user/583DB991/sources/session-cf205d3a/76B23622-contents
.Rproj.user/583DB991/sources/session-cf205d3a/7050A3FC-contents
.Rproj.user/583DB991/sources/session-cf205d3a/6E406192-contents
.Rproj.user/583DB991/sources/session-cf205d3a/6AE97633-contents
.Rproj.user/583DB991/sources/session-cf205d3a/69AC79C2-contents
.Rproj.user/583DB991/sources/session-cf205d3a/5F96694A-contents
.Rproj.user/583DB991/sources/session-cf205d3a/5F96694A
.Rproj.user/583DB991/sources/session-cf205d3a/5691D5B7-contents
.Rproj.user/583DB991/sources/session-cf205d3a/55C9CC4D-contents
.Rproj.user/583DB991/sources/session-cf205d3a/55C9CC4D
.Rproj.user/583DB991/sources/session-cf205d3a/523D574F-contents
.Rproj.user/583DB991/sources/session-cf205d3a/5217E7CB-contents
.Rproj.user/583DB991/sources/session-cf205d3a/5217E7CB
.Rproj.user/583DB991/sources/session-cf205d3a/4C3F2836-contents
.Rproj.user/583DB991/sources/session-cf205d3a/41F64B15-contents
.Rproj.user/583DB991/sources/session-cf205d3a/411612A7-contents
.Rproj.user/583DB991/sources/session-cf205d3a/411612A7
.Rproj.user/583DB991/sources/session-cf205d3a/4066691D-contents
.Rproj.user/583DB991/sources/session-cf205d3a/3BA3F5CC-contents
.Rproj.user/583DB991/sources/session-cf205d3a/332CADFF-contents
.Rproj.user/583DB991/sources/session-cf205d3a/328743A9-contents
.Rproj.user/583DB991/sources/session-cf205d3a/2F5D003F-contents
.Rproj.user/583DB991/sources/session-cf205d3a/2F5D003F
.Rproj.user/583DB991/sources/session-cf205d3a/2CD2EB61-contents
.Rproj.user/583DB991/sources/session-cf205d3a/275F3C77-contents
.Rproj.user/583DB991/sources/session-cf205d3a/23222F39-contents
.Rproj.user/583DB991/sources/session-cf205d3a/1E75139E-contents
.Rproj.user/583DB991/sources/session-cf205d3a/1A3463B6-contents
.Rproj.user/583DB991/sources/session-cf205d3a/125CFADE-contents
.Rproj.user/583DB991/sources/session-cf205d3a/125CFADE
.Rproj.user/583DB991/sources/session-cf205d3a/11843B64-contents
.Rproj.user/583DB991/sources/session-cf205d3a/11144307-contents
.Rproj.user/583DB991/sources/session-cf205d3a/11144307
.Rproj.user/583DB991/sources/session-cf205d3a/10E03DE1-contents
.Rproj.user/583DB991/sources/session-cf205d3a/10E03DE1
.Rproj.user/583DB991/sources/session-cf205d3a/0BC6D5BC-contents
.Rproj.user/583DB991/sources/session-cf205d3a/0BC6D5BC
.Rproj.user/583DB991/sources/session-cf205d3a/09B70BA3-contents
.Rproj.user/583DB991/sources/session-cf205d3a/04775BDC-contents
.Rproj.user/583DB991/sources/session-cf205d3a/04775BDC
.Rproj.user/583DB991/sources/session-cf205d3a/04711424-contents
.Rproj.user/583DB991/sources/session-cf205d3a/04711424
.Rproj.user/583DB991/sources/session-cf205d3a/028BAE0A-contents
.Rproj.user/583DB991/sources/session-cf205d3a/0008657E-contents
.Rproj.user/583DB991/sources/prop/INDEX
.Rproj.user/583DB991/sources/prop/BA66D910
.Rproj.user/583DB991/sources/prop/B3F599DC
.Rproj.user/583DB991/sources/prop/8677D64A
.Rproj.user/583DB991/sources/prop/82A2A676
.Rproj.user/583DB991/sources/prop/79D34E80
.Rproj.user/583DB991/sources/prop/73CA4C68
.Rproj.user/583DB991/sources/prop/6D95BFC6
.Rproj.user/583DB991/sources/prop/5A55F790
.Rproj.user/583DB991/sources/prop/53C1FCF1
.Rproj.user/583DB991/sources/prop/3F23FAD5
.Rproj.user/583DB991/sources/prop/3E830326
.Rproj.user/583DB991/sources/prop/3DCCA567
.Rproj.user/583DB991/sources/prop/326A3670
.Rproj.user/583DB991/sources/prop/29C75C89
.Rproj.user/583DB991/sources/prop/2516BC02
.Rproj.user/583DB991/sources/prop/17906636
.Rproj.user/583DB991/sources/prop/0DA21B71
.Rproj.user/583DB991/sources/prop/0A77450A
.Rproj.user/583DB991/quarto-crossref/INDEX
.Rproj.user/583DB991/pcs/windowlayoutstate.pper
.Rproj.user/583DB991/pcs/source-pane.pper
.Rproj.user/583DB991/pcs/files-pane.pper
.Rproj.user/583DB991/jobs/CD5F623D-output.json
