
blackboard/template.tex
blackboard/.DS_Store
exe/.DS_Store
esami/.DS_Store
dati/.DS_Store
slides/sl_A.Rmd
*.Rmd
slides/template.tex
*.Rmd
.DS_Store
lezioni/lez_4_files/fonts/KaTeX_AMS-Regular.woff
*.rdb
*.rdx
*.png
*.RData
*.woff
*.css
*.js
*.jpg
lezioni/lez_4_cache/html/__packages
exe/es_2_cache/html/__packages
*.md
lezioni/lez_6_cache/html/__packages
esami/ESITI.csv
lezioni/un_H_cache/html/__packages
lezioni/un_F_cache/html/__packages
lezioni/un_I_cache/html/__packages
.DS_Store
.DS_Store
